<head>
  <meta charset="utf-8">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500,500i&display=swap" rel="stylesheet"> -->
  <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
  <link href="res/iaw.css" rel="stylesheet">
  <link href="monaco-${MONACO_VERSION}/monaco.css" rel="stylesheet">
  <!-- <link href="https://rsms.me/res/fonts/ibm-plex-mono.css" rel="stylesheet"> -->
</head>
<body>
  <div id="main">
    <div id="menu" tabindex=0>
      <div class="section">
        <div class="button new" title="New script"
          style="background-image:url(<%= require('./icon-add.svg') %>)"></div>
        <!-- <span>Scripts</span> -->
      </div>
      <ul class="script-list">
      </ul>
    </div>
    <div id="editor"></div>
  </div>
  <div id="message">
    <div class="warning-icon">⚠</div>
    <div class="message"><p>in set_characters: Cannot write to node with unloaded font "Roboto Regular". Please call figma.loadFontAsync({ family: "Roboto", style: "Regular" }) and await the returned promise first.
    </p></div>
    <div class="close-button">✗</div>
  </div>
  <div id="toolbar">
    <div class="button menu"
      style="background-image:url(<%= require('./icon-menu.svg') %>)"></div>
    <div class="runqueue">
      <!-- <div class="pending"></div>
      <div class="ok"></div>
      <div class="err"></div> -->
    </div>
    <div class="button run" title="Run"
      style="background-image:url(<%= require('./icon-play.svg') %>)"></div>
  </div>
  <div id="progress-spinner"></div>
  <script type="text/javascript" src="resources.js?v=${BUILD_VERSION}"></script>
  <script type="text/javascript" src="monaco-${MONACO_VERSION}/monaco.js"></script>
</body>
